$peach: #ffe0d3;
$warm-blue: #7d9296;
$dark-aqua-blue: #7accc8;

$blue-white: ghostwhite;
$golden-yellow: #f4ba00;
$blue-grey: #e0e8eb;
$pastel-blue: #99d8dd;
$mid-blue: #5cb4c2;
$teal-blue: #02587b;

$stack-1: 100;
$stack-2: 200;
$stack-3: 300;
$stack-4: 400;
$stack-5: 500;

body {
  overflow-x: hidden !important;
  background-color: $blue-white;
  hr {
    margin-top: 0;
    margin-bottom: 0;
    border: 0;
    border-top: 1px solid $dark-aqua-blue;
    background-color: $dark-aqua-blue;
    height: 0.1em;
  }

  hr.manu-footer {
    margin-top: 0;
    margin-bottom: 0;
    border: 0;
    border-top: 1px solid $peach;
    background-color: $peach;
    height: 0.1em;
  }

  hr.letter-manu {
    border-top: 0.6em solid #7accc8;
  }

  div.container-fluid {
    padding: 0;
    .row {
      margin: 3em 0px !important;
    }
  }

  div.design-banner {
    width: 100vw;
    background-color: $warm-blue;
    background: url('/navy-blue-stripes.jpg') no-repeat center;
    background-size: cover;
    height: 0.7em;
    position: fixed;
    z-index: 100;
  }

  div#my-navbar {
    padding-top: 0.5em;
    nav.navbar {
      margin-top: 0.7em;
      padding-top: 2.1em;
      background-color: $blue-white !important;
      padding-bottom: 1.5em;
      z-index: $stack-2;
      button {
        right: 15px;
        // position: fixed;
      }
      a.navbar-brand  {
        // position: fixed;
        img {
          width: 18vh;
        }
      }

      div.collapse.navbar-collapse {
        float: right;
        right: 1em;
        input {
          text-align: center;
          background-color: transparent;
          border-top: none;
          border-left: none;
          border-right: none;
        }
        button {
          background-color: transparent;
          border: none;
        }
        a {
          color: $teal-blue;
        }
      }
    }
    @media only screen and (max-width: 768px) {
      div.side-navbar {
        position: absolute;
        z-index: $stack-1;
      }
    }
    @media only screen and (min-width: 768px) {
      div.side-navbar {
        position: fixed;
        z-index: $stack-1;
      }
      nav.navbar {
        background-color: transparent !important;
        div.collapse.navbar-collapse {
          position: fixed;
        }
      }
    }
    div.side-navbar {
      margin-top: 15vh;
      ul.flex-column li a {
        letter-spacing: 0.1em;
        font-family: Times;
        color: $teal-blue;
      }
      span.categories {
        margin-top: 2em;
        li a {
          letter-spacing: 0em;
          font-family: default;
          padding: 0 1em;
        }
      }
    }
  }

  div#top-banner {
    background-color: $blue-white;
    min-height: 100vh;
    margin: 7em auto;
    div.row {
      min-height: 100vh;
      margin: 0 auto !important;
    }
    img {
      max-height: 90vh;
      width: auto;
      border: 1px solid;
      max-width: 100%;
    }
  }

  div#our-story {
    background-color: $blue-white;
    min-height: 100vh;
    img {
      width: auto;
      max-width: 100%;
      height: 80vh;
      border: 1px solid;
    }
    h3 {
      font-family: Britannic Bold;
      font-size: 4em;
      text-align: center;
      color: $golden-yellow;
    }
    p {
      font-size: 1.3em;
      font-family: Times;
      color: $teal-blue;
    }
  }

  div#newsletter {
    background-color: $blue-white;
    min-height: 100vh;
    text-align: center;
    div.row {
      padding: 7vw;
      border: 0.5em double #7accc8;
      margin: 3vw !important;
      div.email-form {
        input {
          border: 0.2em solid $dark-aqua-blue;
        }
        button {
          border: 3px solid $dark-aqua-blue;
        }
      }
    }
    h4 {
      font-family: Britannic Bold;
      color: $golden-yellow;
      font-size: 2.5em;
    }
  }

  div#manufacture {
    min-height: 100vh;
    background: url('https://images.pexels.com/photos/311458/pexels-photo-311458.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb') no-repeat center;
    background-size: cover;
    div.row {
      min-height: 100vh;
      padding: 9em 0;
    }
    img {
      width: 100%;
    }
    h4 {
      font-size: 6.5vw;
      color: $golden-yellow;
      font-family: Britannic Bold;
    }
    p {
      font-size: 1.3em;
      font-family: Times;
      color: $teal-blue;
      padding: 3vw;
          }
  }

  div#footer {
    height: 50vh;
    margin-top: 1.5em;

    div.row {
      text-align: center;
      &.information {
        height: 50vh;
        background: linear-gradient(rgba(8, 14, 21, 0.5), rgba(0, 0, 0, 0.5)), url(/bike-city.jpeg) no-repeat center;
        width: 90vw;
        background-size: cover;
        h2 {
          font-family: Britannic Bold;
          color: $blue-white;
        }
        h4 {
          font-size: 1.5em;
          color: $mid-blue;
          font-family: Times;
        }
        h5 {
          color: white;
          font-family: Times;
        }
        ul {
          list-style-type: none;
          padding-left: 0;
        }
        p {
          color: black;
        }
      }

      &.copyright {
        h5 {
          font-size: 1em;
        }
      }
    }
  }

}
